

:root {
    --espacio-entre-elementos: 24px;
    --fondo-oscuro: #15171A;
    --fondo-semi-oscuro: #202528;
    --borde: 32px;
    
}

* {
    margin: 0;
    color: #fff;
}

/*
    Estructura o cuerpo de la pagina y sus elementos principales
*/
body {
    display: flex;
}

aside {
    min-width: 250px;
    background-color: var(--fondo-semi-oscuro);
    padding: var(--espacio-entre-elementos);
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--fondo-oscuro);
    padding: var(--espacio-entre-elementos);
}

section {
    padding: var(--espacio-entre-elementos);
    border-radius: var(--borde);
    background-color: var(--fondo-semi-oscuro);
}

.aside-interno {
    margin-left: var(--espacio-entre-elementos);
}

/*
    Estilos para manipular los espacios alrededor de un elemento en especifico
    mayormente, debe ser un hijo que tiene varios hermanos dentro de un elemento padre
*/
.espacio-abajo-x1 {
    margin-bottom: var(--espacio-entre-elementos);
}

.espacio-vertical-x1 {
    margin: var(--espacio-entre-elementos) 0;
}

.espacio-vertical-x3 {
    margin: calc(var(--espacio-entre-elementos) * 3) 0;
}

.espacio-horizontal-x1 {
    margin: 0 var(--espacio-entre-elementos);
}

.espacio-izquierda-x1 {
    margin-left: var(--espacio-entre-elementos);
}


/*
    Estilos aplicados a los padres que se encargan de posicionar sus elementos hijos
*/
.separados-horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.centrar-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
    Estilos aplicados a las imagenes
*/
.avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.icono {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: lightgray;
}

.logo {
    width: 150px;
    height: auto;
}

/*
    Estilos aplicados a los textos
*/
.texto-centrado {
    text-align: center;
}

.nombre-responsive {
    display: none;
}

/*
    Estilos para la grafica vertical
*/
.contenedor-de-graficas-verticales {
    width: 80%;
}

.grafica-vertical {
    width: 50px;
    height: 150px;
    background-color:#FF0000;
}
.grafica-vertical-2{
    width: 50px;
    margin-top: 25px;
    height: 130px;
    background-color: #F33333;
}
.grafica-vertical-3{
    width: 50px;
    margin-top: 35px;
    height: 110px;
    background-color: #E34E4E;
}
.grafica-vertical-4{
    width: 50px;
    margin-top: 47px;
    height: 95px;
    background-color: #E56666;
}
.grafica-vertical-5{
    width: 50px;
    margin-top: 60px;
    height: 80px;
    background-color: #F08282;
}

/*
    Estilos para la grafica de progreso
*/
.barra-progreso {
    height: 30px;
    width: 100%;
    border-radius: 30px;
    border: 1px solid lightgray;
    margin: 0 var(--espacio-entre-elementos);
    overflow: hidden;
}

.barra-progreso-relleno {
    width: 10%;
    background-color: #EFE271;
    height: 100%;
    border-radius: inherit;
}

.barra-progreso-relleno-2 {
    width: 70%;
    background-color: #FF9900;
    height: 100%;
    border-radius: inherit;
}

.barra-progreso-relleno-3 {
    width: 20%;
    background-color: #6681E2;
    height: 100%;
    border-radius: inherit;
}



/*
    Estos son los estilos para la grafica de dona.
*/
.contenedor-grafica-dona {
    width: fit-content;
}

.circle-wrap {
    display: grid;
    grid-template-columns: repeat(1, 160px);
    grid-gap: 80px;
    width: 150px;
    height: 150px;
    background: #d9d7da;
    border-radius: 50%;
}
  
.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3,
.circle-wrap .circle .fill-4 {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}
  
.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}
  
.circle-wrap .inside-circle {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    background: #212020;
    line-height: 120px;
    text-align: center;
    margin-top: 13px;
    margin-left: 13px;
    color: white;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
}

/* color animation */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

      
.mask .fill-1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #298907;
}

.mask.full-1,
.circle .fill-1 {
  animation: fill-1 ease-in-out 3s;
  transform: rotate(150deg);
}

@keyframes fill-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(150deg);
  }
}

/*------primer circulo*/
.mask .fill-2 {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #298907;
  }
  
  .mask.full-2,
  .circle .fill-2 {
    animation: fill-2 ease-in-out 3s;
    transform: rotate(40deg);
  }
  
  @keyframes fill-2 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(40deg);
    }
  }

  /*------segundo circulo*/
.mask .fill-3 {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #298907;
  }
  
  .mask.full-3,
  .circle .fill-3 {
    animation: fill-3 ease-in-out 3s;
    transform: rotate(160deg);
  }
  
  @keyframes fill-3 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(160deg);
    }
  }

   /*------tercers circulo*/
.mask .fill-4 {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #298907;
  }
  
  .mask.full-4,
  .circle .fill-4 {
    animation: fill-4 ease-in-out 3s;
    transform: rotate(120deg);
  }
  
  @keyframes fill-4 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(120deg);
    }
  }